.video-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    padding-right: 10px;
}

@media (max-width: 750px) {
    .video-boxes {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 999px) {
    .video-title {
        font-size: 14px;
    }
}

@media (min-width: 1000px) {
    .video-boxes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .video-title {
        font-size: 16px;
        line-height: 24px;
    }
}



.thumbnail-container{
    position: relative;
}

.thumbnail {
    width: 100%;
}

.video-time {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 10px;
    font-weight: 500;
    padding: 3px;
    bottom: 10px;
    right: 5px;
}

.video-info {
    display: flex;
    margin-top: 8px;
}

.channel-photo-container {
    position: relative;
}

.channel-photo {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.channel-photo-container .channel-info-container {
    border: none;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    position: absolute;
    display: flex;
    white-space: nowrap;
    background-color: white;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
}

.channel-photo-container:hover .channel-info-container {
    opacity: 1;
}


.channel-photo-hover {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;

}

.creator-hover {
    font-size: 15px;
    font-weight: bold;
}

.subscribers {
    font-size: 13px;
    color: gray;
    margin-top: 3px;
}

.video-content{
    flex: 1;
}

.video-title {
    font-weight: 500;
    margin-bottom: 10px;
}

.video-link {
    text-decoration: none;
    color: black;
}

.creator-link {
    text-decoration: none;
    color: gray;
}

.creator , .video-detail{
    color: gray;
    font-size: 12px;
    margin-bottom: 3px;
}



